%html
	%head
		%link{:type => 'text/css', :rel => 'stylesheet', :href => 'deep_nest.css'}
	%body
		%div
			%p Inner content
			%a Inner content
		%div.red
			%p Inner content
			%a Inner content
		%div.blue
			%p Inner content
			%a Inner content
		%div.black
			%p Inner content
			%a Inner content
		%div.white
			%p Inner content
			%a Inner content
