<html>
  <head>
    <link href='deep_nest.css' rel='stylesheet' type='text/css' />
  </head>
  <body>
    <div>
      <p>Inner content</p>
      <a>Inner content</a>
    </div>
    <div class='red'>
      <p>Inner content</p>
      <a>Inner content</a>
    </div>
    <div class='blue'>
      <p>Inner content</p>
      <a>Inner content</a>
    </div>
    <div class='black'>
      <p>Inner content</p>
      <a>Inner content</a>
    </div>
    <div class='white'>
      <p>Inner content</p>
      <a>Inner content</a>
    </div>
  </body>
</html>
