%html
	%head
		%link{:type => 'text/css', :rel => 'stylesheet', :href => 'complex_parent.css'}
	%body
		%div.x-msg
			%p Inner content
		%div.x-msg.green
			%p Inner content
			%div.close Inner content
		%div.x-msg.red
			%p Inner content
			%div.close Inner content
