%html
	%head
		%link{:type => 'text/css', :rel => 'stylesheet', :href => 'anchor_links.css'}
	%body
		%a{:href=>'#'} Inner content
		%a{:href=>'#',:id=>'foo'} Inner content
		%a{:href=>'#',:class=>'bar'} Inner content
