%html
	%head
		%link{:type => 'text/css', :rel => 'stylesheet', :href => 'input_elements.css'}
	%body
		%div.foo
			%input Inner content
			%input.bar Inner content
			%input{:type=>'text'} Inner content
