%html
	%head
		%link{:type => 'text/css', :rel => 'stylesheet', :href => 'insert_extra_child.css'}
	%body
		%div.foo
			%div.bar Inner content
		%div.foo.baz
			%div.bar Inner content
			%p Inner content
