%html
	%head
		%link{:type => 'text/css', :rel => 'stylesheet', :href => 'parent_siblings.css'}
	%body
		%div.foo
			%div.bar Inner content
		%div.foo.baz
			%div.bar Inner content
		%div.foo.buz
			%div.bar Inner content
